.row
  .span2
    %ul.nav.nav-list
      %li
        = link_to t('proposals.proposals'), proposals_path
      - if cfp_open?
        %li
          = link_to t('proposals.submit'), new_proposal_path

  .span5
    = form_for @proposal do |form|
      %fieldset
        = render 'form', :form => form

      .form-actions= form.submit :class => 'btn btn-primary'
