%h1= t('proposals.submit')

.row
  .span5.offset1
    = form_for @proposal do |form|
      %fieldset
        = form.label :title
        = form.text_field :title, :class => "input-block-level title"
        = form.label :level
        = form.text_field :level, :class => "input-block-level"
        = form.label :abstract
        = form.text_area :abstract, :class => "input-block-level"
        = form.label :tags
        = form.text_field :tags, :class => "input-block-level"

      .form-actions= form.submit :class => 'btn btn-primary'
