.row
  .span4
    %ul.nav.nav-list
      %li= link_to t('actions.back_to_proposals'), proposals_path
      %li
        = label_tag :rank, t('proposals.rank')
        #ranking
          = select_tag "rank", options_for_select(Cfp::Proposal::RANK_SCALE)
      %li= link_to t('actions.comment'), new_proposal_comment_path(@proposal)

      %li
        %table.table.table-striped
          = render @comments

  .span8
    %h2= @proposal.title
    .speaker
      = @proposal.user_email
    .abstract
      = @proposal.abstract
    .level
      = @proposal.level
    .tags
      = @proposal.tags

- content_for :scripts do
  :javascript
    $(document).ready(function () {
      window.app = new Cfp.Views.RankingView();
    });
