.row
  .span4
    %ul.nav.nav-list
      %li= link_to t('actions.back_to_proposals'), proposals_path
      %li
        = label_tag :rank, t('proposals.rank')
        #ranking
          = select_tag "rank", options_for_select(Cfp::Proposal::RANK_SCALE, @score.value)
      %li= link_to t('actions.comment'), new_proposal_comment_path(@proposal)

      %li
        .comments
          = render @comments

  .span8
    = render :partial => "formatted_proposal", :object => @proposal

- content_for :scripts do
  :javascript
    $(document).ready(function () {
      window.app = new Cfp.Views.RankingView();
    });
