%h1 Profile


.row
  .span5= @profile.name
.row
  .span5= @profile.company
.row
  .span5= @profile.title
.row
  .span5= @profile.bio
.row
  .span5= link_to 'Edit', edit_profile_path, :class => 'btn btn-primary'
