%h1= t('profile.profile')

%dl
  %dt= t 'helpers.label.profile.name'
  %dd= @profile.name
  %dt= t 'helpers.label.profile.company'
  %dd= @profile.company
  %dt= t 'helpers.label.profile.title'
  %dd= @profile.title
  %dt= t 'helpers.label.profile.bio'
  %dd= @profile.bio
.row
  .span5= link_to t('actions.edit'), edit_profile_path, :class => 'btn btn-primary'
